@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
    var date = Model.Competition.Date;
}

<h1>Cup of the Day - @date.DayOfWeek @date.ToShortDateString()</h1>

<div>
    <h4>Qualification Leaderboard</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.NadeoCompetitionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.NadeoCompetitionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.NadeoChallengeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.NadeoChallengeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.NadeoMapUid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.NadeoMapUid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Competition.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Competition.Date)
        </dd>
    </dl>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="container p-0">
                <div class="row">
                    @if (Model.Competition.Leaderboard != null)
                    {
                    @foreach (var item in Model.Competition.Leaderboard.Select((record, i)=>(record, i)))
                    {
                    <hr class="m-0"/>
                    <div class="row m-1">
                        <div class="col-sm-2 m-0 fw-bold">
                            @(item.i+1)
                        </div>
                        <div class="col-sm-10 m-0 px-5" style="text-align:right">
                            @item.record.FormattedTime()
                        </div>
                    </div>
                    }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-9"></div>
    </div>
</div>

