@page
@model DetailsModel

@{
    ViewData["Title"] = "Details";
    var date = Model.Competition.Date;
}

<h1>Cup of the Day - @date.DayOfWeek @date.ToShortDateString()</h1>

<div>
    <h4>Qualification Leaderboard</h4>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Competition.Date)
                    </dt>
                    <dd class="col-sm-8">
                        @Model.Competition.Date.ToShortDateString()
                    </dd>
                    <dt class="col-sm-4">
                        Player Count
                    </dt>
                    <dd class="col-sm-8">
                        @(Model.PlayerCount)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Competition.NadeoCompetitionId)
                    </dt>
                    <dd class="col-sm-8">
                        <a target="_blank" href="@($"https://trackmania.io/#/cotd/{Model.Competition.NadeoCompetitionId}")">
                            @Html.DisplayFor(model => model.Competition.NadeoCompetitionId)
                        </a>
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Competition.NadeoChallengeId)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Competition.NadeoChallengeId)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Competition.NadeoMapUid)
                    </dt>
                    <dd class="col-sm-8">
                        <pre class="mapUid">
                        <a target="_blank" href="@($"https://trackmania.io/#/leaderboard/{Model.Competition.NadeoMapUid}")">
                                <code>
                                    @Model.Competition.NadeoMapUid
                                </code>
                            </a>
                        </pre>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4">
                <div>
                    <form method="post" asp-page-handler="PB" asp-route-id="@Model.Competition.Id">
                        <dl class="row mb-0 mt-1">
                            <dt class="col-sm-6">
                                <input asp-for="Time" value="@(Model.Time==0?"":Model.Time)" class="form-control" placeholder="Your PB (ms)"/>
                            </dt>
                            <dd class="col-sm-6">
                                <button class="btn btn-primary">Get rank</button>
                            </dd>
                        </dl>
                    </form>

                    @if (Model.Rank != 0)
                    {
                    <dl class="row">
                        <dt class="col-sm-6">
                                Your rank:
                        </dt>
                        <dd class="col-sm-6">
                            @Model.Rank
                        </dd>
                    </dl>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a asp-route-id="@Model.Competition.Id" asp-route-pageNo="@(Model.PageNo-1)" asp-page="./Details" class="page-link page-link-dark">
                    <pre class="m-0"><code> <</code></pre>
            </a>
        </li>

        @for (int i = 0; i < Model.PageCount; i++)
        {
            <li class="page-item @(Model.PageNo == i + 1 ? "active" : "")">
                <a asp-route-id="@Model.Competition.Id" asp-route-pageNo="@(i + 1)" asp-page="./Details" class="page-link page-link-dark">
                    <pre class="m-0"><code>@(i + 1)</code></pre>
                </a>
            </li>
        }

        <li class="page-item">
            <a asp-route-id="@Model.Competition.Id" asp-route-pageNo="@(Model.PageNo+1)" asp-page="./Details" class="page-link page-link-dark">
                <pre class="m-0"><code> ></code></pre>
            </a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-4 px-0">
            <table class="table table-borderless table-striped">
                @if (Model.Competition.Leaderboard != null)
                {
                @foreach (var item in Model.Competition.Leaderboard.Select((record, i)=>(record, i)))
                {
                <tr>
                    <td class="fw-bold px-3">
                        @(item.i + 1 + (Model.PageNo-1)*Model.PageSize)
                    </td>
                    <td class="px-4" style="text-align:right">
                        @item.record.FormattedTime()
                    </td>
                </tr>
                }
                }
            </table>
        </div>
        <div class="col-sm-9"></div>
    </div>
</div>

