@page
@using CotdQualifierRankWeb.Models
@model DetailsModel

@{
    ViewData["Title"] = "Details";
    var date = Model.Competition.Date;
}

<h1>Cup of the Day - @date.DayOfWeek @date.ToShortDateString()</h1>

<div>
    <h4>Qualification Leaderboard</h4>
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Competition.Date)
                    </dt>
                    <dd class="col-sm-8">
                        @Model.Competition.Date.ToShortDateString()
                    </dd>
                    <dt class="col-sm-4">
                        Player Count
                    </dt>
                    <dd class="col-sm-8">
                        @(Model.PlayerCount)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Competition.NadeoCompetitionId)
                    </dt>
                    <dd class="col-sm-8">
                        <a
                            target="_blank"
                            aria-label="Open competition number @Model.Competition.NadeoCompetitionId on Trackmania.io"
                            href="@($"https://trackmania.io/#/cotd/{Model.Competition.NadeoCompetitionId}")"
                        >
                            @Html.DisplayFor(model => model.Competition.NadeoCompetitionId)
                        </a>
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Competition.NadeoChallengeId)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Competition.NadeoChallengeId)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Competition.NadeoMapUid)
                    </dt>
                    <dd class="col-sm-8">
                        <pre class="mapUid">
                        <a
                            target="_blank"
                            aria-label="Open corresponding map on Trackmania.io (MapUID: @Model.Competition.NadeoMapUid)"
                            href="@($"https://trackmania.io/#/leaderboard/{Model.Competition.NadeoMapUid}")"
                        >
                        <code>
                                    @Model.Competition.NadeoMapUid
                                </code>
                            </a>
                        </pre>
                    </dd>
                </dl>
            </div>

            @if (Model.Competition.Leaderboard is not null && 
                Model.Competition.Leaderboard.Count > 0)
            {
            <div class="col-md-4">
                <div>
                    <form method="post" asp-page-handler="PB" asp-route-id="@Model.Competition.Id">
                        <dl class="row mb-0 mt-1">
                            <dt class="col-sm-6">
                                <input
                                    aria-label="Enter your PB in milliseconds"
                                    asp-for="Time"
                                    value="@(Model.Time==0?"":Model.Time)"
                                    class="form-control"
                                    placeholder="Your PB (ms)"
                                />
                            </dt>
                            <dd class="col-sm-6">
                                <button role="button" class="btn btn-primary">Get rank</button>
                                <span class="mx-3">
                                    <a
                                        aria-label="Send GET request to Rank endpoint"
                                        href="./api/rank/@Model.Competition.NadeoMapUid/@(Model.Time==0?"45000":Model.Time)"
                                        class="btn btn-outline-primary"
                                    >
                                        API
                                    </a>
                                </span>
                            </dd>
                        </dl>
                    </form>

                    @if (Model.Rank != 0)
                    {
                        var inputRecord = new Record { Time = Model.Time };
                        <dl class="row">
                            <dt class="col-sm-6">
                                Time:
                            </dt>
                            <dd class="col-sm-6">
                                @(inputRecord.FormattedTime())&ensp;

                                @if (Model.Competition.Leaderboard is not null)
                                {
                                    <span class="first-seed-difference">
                                        (@((inputRecord-Model.Competition.Leaderboard[0]).FormattedDiffTime()))
                                    </span>
                                }
                            </dd>
                            <dt class="col-sm-6">
                                Rank:
                            </dt>
                            <dd class="col-sm-6">
                                @Model.Rank
                            </dd>
                            <dt class="col-sm-6">
                                Division:
                            </dt>
                            <dd class="col-sm-6">
                                @(((Model.Rank - 1) / 64) + 1)
                            </dd>
                        </dl>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</div>

@if (Model.Competition.Leaderboard is not null &&
    Model.Competition.Leaderboard.Count > 0)
{
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            @if (Model.PageNo > 1)
            {
                <a asp-route-id="@Model.Competition.Id"
                   asp-route-pageNo="@(Model.PageNo-1)"
                   asp-page="./Details"
                   class="page-link page-link-dark">
                    <pre class="m-0"><code class="pagination-code" aria-label="left">&lt;</code></pre>
                </a>
            }
            else
            {
                <a class="page-link disabled page-link-disabled">
                    <pre class="m-0"><code class="pagination-code" aria-label="left">&lt;</code></pre>
                </a>
            }
        </li>

        @if (Model.PageCount < 8)
        {
            @for (int i = 0; i < Model.PageCount; i++)
            {
                <li class="page-item @(Model.PageNo == i + 1 ? "active" : "")">
                    <a asp-route-id="@Model.Competition.Id" asp-route-pageNo="@(i + 1)" asp-page="./Details" class="page-link page-link-dark">
                        <pre class="m-0"><code class="pagination-code">@(i + 1)</code></pre>
                    </a>
                </li>
            }
        }
        else
        {
            <li class="page-item @(Model.PageNo == 1 ? "active" : "")">
                <a asp-route-id="@Model.Competition.Id" asp-route-pageNo="1" asp-page="./Details" class="page-link page-link-dark">
                    <pre class="m-0"><code class="pagination-code">1</code></pre>
                </a>
            </li>
            @if (Model.PageNo > 4)
            {
                <li class="page-item">
                    <a class="page-link page-link-dots">
                        <code class="pagination-code">...</code>
                    </a>
                </li>
            }

            var start = Math.Max(Model.PageNo - 3, 1);
            var startLost = start - (Model.PageNo - 3);

            var end = Model.PageNo < 5 ?
                Math.Min(Model.PageNo + 2 + startLost + 1, Model.PageCount - 1)
                : Math.Min(Model.PageNo + 2 + startLost, Model.PageCount - 1);

            var endLost = (Model.PageNo + 3) - end;

            if (Model.PageNo >= 5){
                start = Model.PageNo > Model.PageCount - 4 ?
                    Math.Max(Model.PageNo - 2 - endLost - 1, 1)
                    : Math.Max(Model.PageNo - 2 - endLost, 1);
            }

            @for (int i = start; i < end; i++)
            {
                <li class="page-item @(Model.PageNo == i + 1 ? "active" : "")">
                    <a asp-route-id="@Model.Competition.Id" asp-route-pageNo="@(i + 1)" asp-page="./Details" class="page-link page-link-dark">
                        <pre class="m-0"><code class="pagination-code">@(i + 1)</code></pre>
                    </a>
                </li>
            }
            @if (Model.PageNo < Model.PageCount - 3)
            {
                <li class="page-item">
                    <a class="page-link page-link-dots">
                        <code class="pagination-code">...</code>
                    </a>
                </li>
            }
            <li class="page-item @(Model.PageNo == Model.PageCount ? "active" : "")">
                <a asp-route-id="@Model.Competition.Id" asp-route-pageNo="@(Model.PageCount)" asp-page="./Details" class="page-link page-link-dark">
                    <pre class="m-0"><code class="pagination-code">@(Model.PageCount)</code></pre>
                </a>
            </li>
        }

        <li class="page-item">
            @if (Model.PageNo < Model.PageCount)
            {
                <a asp-route-id="@Model.Competition.Id"
                   asp-route-pageNo="@(Model.PageNo+1)"
                   asp-page="./Details"
                   class="page-link page-link-dark">
                    <pre class="m-0"><code class="pagination-code" aria-label="right">&gt;</code></pre>
                </a>
            }
            else
            {
                <a class="page-link disabled page-link-disabled">
                    <pre class="m-0"><code class="pagination-code" aria-label="right">&gt;</code></pre>
                </a>
            }
        </li>
    </ul>
</nav>

<h3 class="mt-4 mb-3">Division @Model.PageNo</h3>

<div class="container px-0">
    <div class="row">
        <div class="col-sm-8">
            <div class="container px-0">
                <div class="row">
                    <div class="col-sm-8">
                        <table class="table table-borderless table-striped">
                            @if (Model.PaginatedLeaderboard is not null)
                            {
                                @foreach (var item in Model.PaginatedLeaderboard.Select((record, i) => (record, i)))
                                {
                                    <tr>
                                        <td class="fw-bold px-3">
                                            @(item.i + 1 + (Model.PageNo - 1) * Model.PageSize)
                                        </td>
                                        <td class="px-4" style="text-align:right">
                                            @item.record.FormattedTime()
                                        </td>
                                        @if (Model.PageNo==1 && item.i == 0)
                                        {
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td class="first-seed-difference first-seed-difference-td">(@Model.FirstSeedDifference[item.i].FormattedDiffTime())</td>
                                        }
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <dl class="row">
                @if (Model.PageNo > 1)
                {
                    <dt class="col-sm-6">Division @(Model.PageNo-1) Cutoff</dt>
                    <dd class="col-sm-6">@Model.PageStatistics["BetterDivCutoff"]</dd>
                }
                <dt class="col-sm-6">Division @Model.PageNo Cutoff</dt>
                <dd class="col-sm-6">@Model.PageStatistics["CurrentDivCutoff"]</dd>
                <dt class="col-sm-6">Division @Model.PageNo Window</dt>
                <dd class="col-sm-6">@Model.PageStatistics["CurrentDivWindow"]</dd>
                @if (Model.PageNo == Model.PageCount)
                {
                    <dt class="col-sm-6">Division @Model.PageNo Size</dt>
                    <dd class="col-sm-6">@(Model.PaginatedLeaderboard is null ? "n/a" : Model.PaginatedLeaderboard.Count)</dd>
                }
            </dl>
        </div>
    </div>
</div>
}
