@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Recent Cup of the Days</h1>

<table class="table table-borderless table-striped" style="color:#cfcfcf">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Competitions[0].Date)
            </th>
            <th>
                Player Count
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competitions[0].NadeoCompetitionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competitions[0].NadeoChallengeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competitions[0].NadeoMapUid)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i<Model.Competitions.Count;i++) {
        <tr>
            <td>
                @Model.Competitions[i].Date.ToShortDateString()
            </td>
            <td>
                @Model.CompetitionPlayerCounts[i]
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Competitions[i].NadeoCompetitionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Competitions[i].NadeoChallengeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Competitions[i].NadeoMapUid)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@Model.Competitions[i].Id">Details</a>
            </td>
            <td>
                <form method="post" asp-page-handler="Delete" asp-route-id="@Model.Competitions[i].Id"
                      onsubmit="return confirm('Are you sure you want to delete this Leaderboard?')">
                    <button class="btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
